* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.game--main-title {
  margin: 10px;
}

input {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 300px;
  text-align: center;
}

ul {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
  font-weight: bold;
  flex-basis: 30%;
}

button {
  margin: 10px;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  color: #61b8db;
  border: 2px solid #61b8db;
  background-color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

button:hover {
  background-color: #61b8db;
  color: #ffffff;
}

.error--message,
.incorrect {
  color: red;
}

.game--title {
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
}

.game--container {
  margin: 0 auto;
  padding: 10px;
  width: 70vw;
  height: 50vh;
  max-height: 500px;
  min-width: 320px;
  max-width: 1024px;
  border: 2px solid black;
}

.selected {
  color: grey;
}

.correct {
  color: green;
}

.incorrect,
.correct {
  position: relative;
}

.incorrect::before,
.correct::before {
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
}

.correct::before {
  content: "Good";
  color: lightgreen;
}

.incorrect::before {
  content: "Bad";
  color: lightsalmon;
}

.end--screen {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.end--text,
.end--result {
  display: block;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
}
.end--result {
  color: #61b8db;
}
